{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %} <!-- this csrf_token is for security matters and the code doesn't work without it-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form | crispy }}<!-- .as_p help us to render the pargraph that means label and field is on the same line-->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>

    </div>
{% endblock content %}